html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------Interactive Gallery Styles--------------------- */


*,
*::after,
*::before {
    box-sizing: border-box;
}


h1 {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 3rem 3rem 1rem;
}

h2 {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 2rem;
}


p {
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    margin-bottom: 1rem;
}


#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem .5rem;
}

img {
    max-width: 100%;
    height: 80px;
    cursor: pointer;
    border-radius: 4px;
}

.image-container {
    margin: 0.5rem 0.5rem;
    filter: grayscale(20);
    transition: 200ms linear;
}

.image-container:hover {
    filter: grayscale(0);
}

button {
    background-color: #fff;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    margin: 1rem 0 3rem;
    transition: 200ms linear;
}

button:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.75);
    opacity: 0;
    pointer-events: none;
}

.overlay-content {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-image {
    max-width: 90%;
    height: 75%;
}

.overlay.show {
    opacity: 1;
    pointer-events: all;
}

footer {
    margin: 1rem 0 3rem;
}

@media screen and (min-width: 600px) {

    #images {
        margin: 2rem 2rem;
    }

    img {
        height: 150px;
    }

    .image-container {
        margin: 1rem;
    }

}

@media screen and (min-width: 960px) {

    #images {
        margin: 2rem 3rem 0;
    }

    img {
        height: 200px;
        margin-bottom: 1rem;
    }

    .image-container {
        margin: 1rem;
    }

    button {
        font-size: 1.5rem;
    }

    .overlay-image {
        max-width: 75%;
        margin-top: 3rem;
    }
}